{% extends "layout.html" %}

{%  block content %}

<!-- jumbotron and nav -->
<div class="font-[sans-serif] bg-gray-100">
  <div class="p-4 mx-auto lg:max-w-7xl sm:max-w-full">
    <h2 class="text-4xl font-extrabold text-gray-800 mb-12">Premium Hotels</h2>
    <form class="font-[sans-serif] max-w-4xl mx-auto my-3">
        <div class="grid sm:grid-cols-3 gap-4">
            <div class="relative flex items-center">
                <label class="text-sm mb-2 block">Check in Date</label>
                <input type="date" name="checkin" id="checkin" class="px-4 py-3 bg-[#f0f1f2] text-black w-full text-sm outline-[#007bff] rounded" />
            </div>
        
            <div class="relative flex items-center">
                <label class="text-sm mb-2 block">Check out Date</label>
                <input type="date" name="checkin" id="checkout" class="px-4 py-3 bg-[#f0f1f2] text-black w-full text-sm outline-[#007bff] rounded" />
            </div>
            <input type="submit"
            class=" text-sm w-full bg-[#007bff] hover:bg-[#006bff] text-white rounded transition-all" value="search">
        </div>
    </form>

    <form class="font-[sans-serif] max-w-4xl mx-auto">
        <div class="sm:grid-cols-2 gap-4 flex"> 
            <!-- <div class="relative flex-auto w-64 ...">
                <label for="">Sort By</label>
                <select name="" id="" class="px-4 py-3 bg-[#f0f1f2] text-black w-full text-sm outline-[#007bff] rounded">
                    <option value="">Recommended</option>
                    <option {% if sort_by == 'Standard_room' %} selected {%endif %} value="Standard_room">Standard Room</option>
                    <option {% if sort_by == 'Deluxe_room' %} selected {%endif %} value="Deluxe_room">Deluxe Room</option>
                </select>
            </div> -->
            <div class="relative flex-auto w-64 ...">
                <label for="">Quick Search</label>
                <input type="text" name="search" id="{{search}}" placeholder="Quick Search" class="px-4 py-3 bg-[#f0f1f2] text-black w-full text-sm outline-[#007bff] rounded">
            </div>
            {% comment %} <div class="relative flex-auto w-64 ...">
            <label class="" for="exampleFormControlSelect1">Amenities</label>
            <select name="Amenities" id="" multiple class="px-4 py-3 bg-[#f0f1f2] text-black w-full text-sm outline-[#007bff] rounded">
                <option value="">Choose</option>
                {% for amenities_obj in amenities_objs %}
                <option {% if amenities_obj.amenity_name in amenities %} selected {% endif %} value="{{amenities_obj.amenity_name}}">{{amenities_obj.amenity_name}}</option>
                {% endfor %}
            </select>
        </div> {% endcomment %}
        <div class="relative flex-auto w-64 ...">
            <label for="">Sort By</label>
            <select name="" id="" class="px-4 py-3 bg-[#f0f1f2] text-black w-full text-sm outline-[#007bff] rounded">
                <option value="">Choose</option>
                {% for amenities_obj in amenities_objs %}
                <option {% if amenities_obj.amenity_name in amenities %} selected {% endif %} value="{{amenities_obj.amenity_name}}">{{amenities_obj.amenity_name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-4">
            <button type="submit"
            class="px-5 py-2.5 my-8 rounded-full text-white text-sm tracking-wider font-medium border border-current outline-none bg-blue-700 hover:bg-blue-800 active:bg-blue-700">Find</button>            
        </div>
    </form>
  </div>
  
    <div class="font-[sans-serif] bg-gray-100">
        <div class="p-4 mx-auto lg:max-w-7xl sm:max-w-full">
            
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 max-xl:gap-4 gap-6">
                {% for hotels_obj in hotels_objs %}
                <div class="bg-white rounded-2xl p-5 cursor-pointer hover:-translate-y-2 transition-all relative">
                    
                    <div class="w-5/6 h-[210px] overflow-hidden mx-auto aspect-w-16 aspect-h-8 md:mb-2 mb-4">
                        <a href="/hotel-detail/{{hotels_obj.uid}}">
                            <img class="img-fluid" src="/{{hotels_obj.images.first.images}}" alt="Card image cap">
                        </a>
                    </div>

                    <div>
                        <h3 class="text-lg font-extrabold text-gray-800">{{hotels_obj.hotel_name}}</h3>
                        <p class="text-gray-600 text-sm mt-2">{{hotels_obj.description|truncatechars:150}}</p>
              
                        <p>Place.com</p>
                        <h4 class="text-lg text-gray-800 font-bold mt-4">${{hotels_obj.hotel_price}}</h4>
                    </div>
                    <a href="{% url 'hotel_detail' hotels_obj.uid %}" type="button"
                    class="px-5 py-2.5 rounded-lg text-sm tracking-wider font-medium border border-green-700 outline-none bg-transparent hover:bg-green-700 text-green-700 hover:text-white transition-all duration-300">View Detaila</a>
                
                </div>
                {% endfor %}
            </div>
            
        </div> 
    </div> 
</div>
    
  

<!-- <section class="colorful jumbotron mb-0" role="banner">
    <nav class="navbar navbar-expand-lg justify-content-between navbar-dark" role="navigation">
        <div class="navbar-brand">
            <a href="index.html">Hotel Spoof
                <em>.</em>
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
       
    </nav>

    <div class="container hotels-container">

        <div class="row mt-2 justify-content-between">
            <div class="col-md-8 text-white align-self-center mb-2 p-4">
                <h1>HOTEL Place</h1>
                <span class=""> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum debitis perspiciatis sed iusto
                    eveniet neque natus quidem velit optio cumque saepe repudiandae vero, sit hic adipisci laudantium libero blanditiis
                    animi.
                </span>
            </div>
           
        </div>
    </div>
</section>

<section class="search-container mb-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="row my-3">
                    
                   

                    
                </div>
                <div class="row mt-2 justify-content-between">
                    {% comment %} <div class="filter-card">
                        <h5>Filter</h5>
                        <form action="#">
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="mintopay">Check in</label>
                                    <p>
                                        <input type="date" name="checkin" id="checkin" class="form-control">
                                    </p>
                                </div>
                                <div class="col-md-12">
                                    <label for="maxtopay">Check out</label>
                                    <p>
                                        <input type="date" name="checkout" id="checkout" class="form-control">
                                    </p>
                                </div>
                            </div>
                           
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <input type="submit" class="btn btn-primary btn-block" value="Limit">
                                </div>
                            </div>
                        </form>
                    </div> {% endcomment %}

                </div>
            </div>



            <div class="col-lg-9  px-4 mb-5">
                <form>
                <div class="row mt-3 ">
                    <div class="col-md-4 d-flex flex-row">
                    <div class="form-inline">
                        <label class="" for="exampleFormControlSelect1">Sort by</label>
                        <select class="form-control" name="sort_by" id="exampleFormControlSelect1">
                            <option value="">Recommended</option>
                            <option {% if sort_by == 'ASC' %} selected {%endif %} value="ASC">ASC</option>
                            <option {% if sort_by == 'DSC' %} selected {%endif %} value="DSC">DSC</option>
                           
                        </select>
                    </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-inline">
                            <label class="" for="exampleFormControlSelect1">Search</label>
                            <input name="search" class="form-control" value="{{search}}" placeholder="Search"> 
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="form-inline">
                           <label class="" for="exampleFormControlSelect1">Amenities</label>
                            <select name="amenities" class="form-control" multiple>
                            <option value="">Choose</option>
                            {% for amenities_obj in amenities_objs %}
                            <option {% if amenities_obj.amenity_name in amenities  %} selected {%endif%}value="{{amenities_obj.amenity_name}}">{{amenities_obj.amenity_name}}</option>
                                {% endfor %}
                        </select>
                        </div>

                    </div>
                    <div class="col-md-4">
                     
                            <button style="margin-top: 30px;" type="submit" class="btn btn-success">Find</button>
                        </div>
                </div>
                </form>
                
                {% for hotels_obj in hotels_objs %}
                <div class="row search-card-result">
                

                    
                    <div class="col-md-3">
                       
                    <a href="/hotel-detail/{{hotels_obj.uid}}">
                        <img class="img-fluid" src="/media/{{hotels_obj.images.first.images}}" alt="Card image cap">
                    
                    </a></div>
               
                    <div class="col-md-5">
                        <h5>{{hotels_obj.hotel_name}}</h5>
                        
                        <p>
                            {{hotels_obj.description|truncatechars:150}}
                        </p>
                        <p>
                            {%for amenitie in hotels_obj.amenities.all %}
                            <b>{{amenitie.amenity_name}}</b>,
                            {% endfor %}
                        </p>
                        
                    </div>
                    <div class="col-md-2 border-left text-center more-offers">
                        
                        <p>Place.com</p>
                        <p>${{hotels_obj.hotel_price}}</p>
                        <p>Room count</p>
                        <p>{{hotels_obj.room_count}}</p>
                    </div>
                    <div class="col-md-2 border-left text-center more-offers">
                       
                        <a href="url 'hotel_detail'hotels_obj.uid " class="btn btn-success">View deal </a>
                    </div>
                </div>
                {% endfor %}
               
            </div>
        </div>

    </div>
</section>  -->

  <script>
    let dropdownToggle = document.getElementById('dropdownToggle');
    let dropdownMenu = document.getElementById('dropdownMenu');

    function handleClick() {
        if (dropdownMenu.className.includes('block')) {
            dropdownMenu.classList.add('hidden')
            dropdownMenu.classList.remove('block')
        } else {
            dropdownMenu.classList.add('block')
            dropdownMenu.classList.remove('hidden')
        }
    }

    dropdownToggle.addEventListener('click', handleClick);
  </script>
        

{% endblock %}